@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap");

:root {
	--main-bg-color: rgba(36, 189, 194, 0.397);
	--accent: rgba(249, 255, 169, 0.911);
	--text-accent: #007ec7;
}
* {
	font-family: "Roboto Mono", monospace;
}
body {
	align-content: flex-start;
	display: flex;
}
#app {
	max-width: 200px;
	padding: 1rem 3rem;
	margin: 2rem;
	border: solid 5px var(--main-bg-color);
	outline-offset: 1rem;
	/* outline: 3px solid var(--main-bg-color); */
	outline: 1rem solid #363636;
}
b,
.shiny {
	color: var(--text-accent);
	font-weight: 500;
}
p {
	font-size: smaller;
}
#pixi {
	align-self: center;
	padding: 8px;
	/* background: repeating-linear-gradient(
			var(--main-bg-color) 0px,
			var(--main-bg-color) 16px,
			var(--accent) 16px,
			var(--accent) 17px,
			var(--main-bg-color) 17px,
			var(--main-bg-color) 33px,
			#ffffff 33px,
			#ffffff 34px
		),
		repeating-linear-gradient(
			90deg,
			var(--main-bg-color) 0px,
			var(--main-bg-color) 16px,
			var(--accent) 16px,
			var(--accent) 17px,
			var(--main-bg-color) 17px,
			var(--main-bg-color) 33px,
			#ffffff 33px,
			#ffffff 34px
		); */
	background-color: #363636;
	overflow: hidden;
}
